<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <form (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="loginData.email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="loginData.password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top" color="primary">
        Iniciar Sesión
      </ion-button>
    </form>
    <div class="register-link">
      <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    </div>
  </div>
</ion-content>
